Scrape zigbee data from Hubitat.json
[
    {
        "id": "9f7175c4daaac04e",
        "type": "inject",
        "z": "0c4e9c3a9b0737ce",
        "name": "5 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "9a3f8df887bb48d9"
            ]
        ]
    },
    {
        "id": "9a3f8df887bb48d9",
        "type": "http request",
        "z": "0c4e9c3a9b0737ce",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.10.77/hub/zigbee/getChildAndRouteInfo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {},
        "x": 310,
        "y": 400,
        "wires": [
            [
                "917a98e2b272c2a6",
                "dc4e30ee8e03ae9d"
            ]
        ]
    },
    {
        "id": "848ea2fa30311609",
        "type": "csv",
        "z": "0c4e9c3a9b0737ce",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 80,
        "wires": [
            [
                "fd1689c85dd0c593"
            ]
        ]
    },
    {
        "id": "917a98e2b272c2a6",
        "type": "function",
        "z": "0c4e9c3a9b0737ce",
        "name": "Isolate the cost section",
        "func": "var a = msg.payload;\nconst searchstring = \"Neighbor Table Entry\";\nconst endstring = \"Route Table Entry\"\nvar result;\nconst index = a.indexOf(searchstring)+searchstring.length;\nconst endindex = a.indexOf(endstring,index)\nif (index !== -1 && endindex !== -1) {\n    result = a.slice(index,endindex);\n}\n\nmsg.payload = result.replace(/[\\[\\]]/g, '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "848ea2fa30311609"
            ]
        ]
    },
    {
        "id": "fd1689c85dd0c593",
        "type": "function",
        "z": "0c4e9c3a9b0737ce",
        "name": "Trim leading spaces",
        "func": "const obj = msg.payload;\n\nfor (const key in obj){\n    obj[key] = obj[key].trim();\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 120,
        "wires": [
            [
                "3885adc048fab35c"
            ]
        ]
    },
    {
        "id": "3885adc048fab35c",
        "type": "function",
        "z": "0c4e9c3a9b0737ce",
        "name": "Split key value pairs with :",
        "func": "const obj = msg.payload;\n\nfor (const key in obj) {\n    if (obj[key].includes(':')) {\n        const parts = obj[key].split(':');\n        const newKey = parts[0];\n        const newValue = parts[1];\n        delete obj[key];\n        obj[newKey] = newValue;\n}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "79fd541e5df5deb4"
            ]
        ]
    },
    {
        "id": "79fd541e5df5deb4",
        "type": "function",
        "z": "0c4e9c3a9b0737ce",
        "name": "Insert into ZigbeeTable",
        "func": "var query = \"REPLACE INTO ZigbeeTable(Name, ZigbeeID, LQI, Age, InCost, OutCost) VALUES (\"\nquery += \"'\" + msg.payload.col1 + \"',\";\nquery += \"'\" + msg.payload.col2 + \"',\";\nquery += \"\" + msg.payload.LQI + \",\";\nquery += \"\" + msg.payload.age + \",\";\nquery += \"\" + msg.payload.inCost + \",\";\nquery += \"\" + msg.payload.outCost + \"\";\nquery += \")\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "45fba3624913d3e2",
                "b4c186196be86245"
            ]
        ]
    },
    {
        "id": "dc4e30ee8e03ae9d",
        "type": "function",
        "z": "0c4e9c3a9b0737ce",
        "name": "Isolate the cost section",
        "func": "var a = msg.payload;\nconst searchstring = \"Route Table Entry\";\nvar result;\nconst index = a.indexOf(searchstring);\nif (index !== -1) {\n    result = a.slice(index);\n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 471,
        "y": 501,
        "wires": [
            [
                "96bc2507410bc24b"
            ]
        ]
    },
    {
        "id": "96bc2507410bc24b",
        "type": "function",
        "z": "0c4e9c3a9b0737ce",
        "name": "Split repeater and repeated into separate arrays",
        "func": "const obj = msg.payload;\n\nlet start = \"[\";\nlet end = \"]\";\n\nlet texts1 = [];\nlet texts2 = [];\nlet startIndex = 0;\nlet counter = 0;\n\nwhile (true) {\n    startIndex = obj.indexOf(start, startIndex);\n    if (startIndex === -1) {\n        break;\n    }\n\n    let endIndex = obj.indexOf(end, startIndex);\n    let isolated = obj.slice(startIndex + start.length, endIndex);\n    if (counter % 2 === 0) {\n        texts1.push(isolated);\n    } else {\n        texts2.push(isolated);\n    }\n\n    counter++;\n    startIndex = endIndex;\n}\n\nmsg.payload=texts1;\nmsg.repeater=texts2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 500,
        "wires": [
            [
                "3c1d5228be65a695"
            ]
        ]
    },
    {
        "id": "3c1d5228be65a695",
        "type": "function",
        "z": "0c4e9c3a9b0737ce",
        "name": "Create Insert statement",
        "func": "let device = msg.payload;\nlet repeater = msg.repeater;\nlet x = 0;\nlet t = 0;\nfor (x = 0; x < device.length; x++) {\n    t = \"INSERT INTO ZigbeeRoute (ZigbeeDevice, ViaZigbeeRepeater) VALUES ( '\" + device[x] + \"', '\" + repeater[x] + \"')\"\n    node.send({ topic: t })\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 640,
        "wires": [
            [
                "34bbbd3c94e8a713",
                "05027b8827d4a4a2"
            ]
        ]
    },
    {
        "id": "b4c186196be86245",
        "type": "mysql",
        "z": "0c4e9c3a9b0737ce",
        "mydb": "50d88d05b3f142e9",
        "name": "",
        "x": 1250,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "05027b8827d4a4a2",
        "type": "mysql",
        "z": "0c4e9c3a9b0737ce",
        "mydb": "50d88d05b3f142e9",
        "name": "",
        "x": 1150,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "50d88d05b3f142e9",
        "type": "MySQLdatabase",
        "name": "minipc",
        "host": "192.168.10.250",
        "port": "3306",
        "db": "hubitat_logging",
        "tz": "",
        "charset": "UTF8"
    }
]