NodeRED/Check status of multiple devices.json
[
    {
        "id": "db9887f3c168834d",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Adrienne office window sensor ",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "132",
        "attribute": "contact",
        "sendEvent": true,
        "x": 490,
        "y": 2020,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "b3969f16a00546d8",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Boys room window sensor ",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "484",
        "attribute": "contact",
        "sendEvent": true,
        "x": 510,
        "y": 2060,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "33c6a79ab295780e",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Family room window iris",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "568",
        "attribute": "contact",
        "sendEvent": true,
        "x": 510,
        "y": 2100,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "8c18cc75b1dfea35",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Laundry Window Contact ",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "570",
        "attribute": "contact",
        "sendEvent": true,
        "x": 510,
        "y": 2140,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "4e9909bb674f31ec",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Loft window sensor",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "129",
        "attribute": "contact",
        "sendEvent": true,
        "x": 530,
        "y": 2180,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "0fa722576902bca3",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Master bath window contact ",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "572",
        "attribute": "contact",
        "sendEvent": true,
        "x": 500,
        "y": 2220,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "c1829f2b9471f560",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Master bed window contact ",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "571",
        "attribute": "contact",
        "sendEvent": true,
        "x": 500,
        "y": 2260,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "76d409fa5596b7db",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Office window ",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "569",
        "attribute": "contact",
        "sendEvent": true,
        "x": 540,
        "y": 2300,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "ab83709fb68f62a8",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Kitchen sink contact",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "413",
        "attribute": "contact",
        "sendEvent": true,
        "x": 520,
        "y": 2340,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "50dbe3d448d30b59",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Guest bed window contact",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "1747",
        "attribute": "contact",
        "sendEvent": true,
        "x": 500,
        "y": 2380,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "ba1929a433599f5e",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Bike Room Window",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "1723",
        "attribute": "contact",
        "sendEvent": true,
        "x": 530,
        "y": 2420,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "81e82fc15ab884d2",
        "type": "hubitat device",
        "z": "1d0e8c5d0e26f736",
        "deviceLabel": "Basement Family Window ",
        "name": "",
        "server": "337d383ca70ad576",
        "deviceId": "1774",
        "attribute": "contact",
        "sendEvent": true,
        "x": 510,
        "y": 2460,
        "wires": [
            [
                "8e8d243a6ce37270"
            ]
        ]
    },
    {
        "id": "373d847e1f7bb257",
        "type": "inject",
        "z": "1d0e8c5d0e26f736",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 2180,
        "wires": [
            [
                "db9887f3c168834d",
                "b3969f16a00546d8",
                "33c6a79ab295780e",
                "8c18cc75b1dfea35",
                "4e9909bb674f31ec",
                "0fa722576902bca3",
                "c1829f2b9471f560",
                "76d409fa5596b7db",
                "ab83709fb68f62a8",
                "50dbe3d448d30b59",
                "ba1929a433599f5e",
                "81e82fc15ab884d2"
            ]
        ]
    },
    {
        "id": "8e8d243a6ce37270",
        "type": "function",
        "z": "1d0e8c5d0e26f736",
        "name": "Save Globals",
        "func": "const a = global.get('WindowList');\nconst b = (a === undefined) ? {} : a;\n\nconst disp = msg.payload.displayName ? msg.payload.displayName : msg.topic;\nconst list = {\n  [disp]: {\n    time: parseInt(new Date().getTime()),\n    status: msg.payload.value,\n    open: (msg.payload.value === 'open')\n  }\n};\nconst updatedlist = {\n  ...b,\n  ...list\n};\nglobal.set('WindowList', updatedlist);\nmsg.payload = updatedlist;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "366bd529902fde92",
        "type": "function",
        "z": "1d0e8c5d0e26f736",
        "name": "Check Windows",
        "func": "const windowList = global.get('WindowList') || {};\nconst num = Object.keys(windowList).length;\nlet openwindows = [];\n\nfor (let windowName in windowList) {\n  const window = windowList[windowName] ;\n  const sensorState = window.status;\n  const isOpen = sensorState === 'open';\n  const time = parseInt(new Date().getTime());\n  const status = isOpen ? 'open' : 'closed';\n\n  window.time = time;\n  window.status = status;\n  window.open = isOpen;\n\n  if (isOpen) {\n    openwindows.push(windowName.toLowerCase().trim());\n  }\n}\n\nconst numOpenwindows = openwindows.length;\nconst allwindowsClosed = numOpenwindows === 0;\n\nconst openwindowString = openwindows.join(', ');\n\nconst windowStatus = allwindowsClosed\n  ? 'All windows are closed.'\n  : numOpenwindows === 1\n    ? `There is 1 window open! It is ${openwindowString}.`\n    : `There are ${numOpenwindows} windows open! They are ${openwindowString}.`;\n\nmsg.windows = windowStatus;\nmsg.windowsnumber = numOpenwindows;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 2100,
        "wires": [
            [
                "30db95d5fc33efab"
            ]
        ]
    },
    {
        "id": "30db95d5fc33efab",
        "type": "debug",
        "z": "1d0e8c5d0e26f736",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 2100,
        "wires": []
    },
    {
        "id": "9adf4ae668351ac4",
        "type": "inject",
        "z": "1d0e8c5d0e26f736",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 2100,
        "wires": [
            [
                "366bd529902fde92"
            ]
        ]
    },
    {
        "id": "337d383ca70ad576",
        "type": "hubitat config",
        "name": "Hubitat",
        "usetls": false,
        "host": "192.168.10.77",
        "port": "80",
        "appId": "1246",
        "nodeRedServer": "http://192.168.10.92:1880",
        "webhookPath": "/hubitat/webhook",
        "autoRefresh": true,
        "useWebsocket": false,
        "colorEnabled": false,
        "color": "#ace043",
        "credentials": {}
    }
]